/**/target/
/**/bin/
/**/.settings/
/**/.checkstyle
/**/.idea/
/**/*.iml
/**/lombok.config
# original location
!**/config/lombok.config
**/data/localmodel
**/data/.config
**/stamp.dat
**/.index
.mvn/timing.properties
.output
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.cproject
.factorypath
.buildpath
.target
**/.DS_Store
/**/*.orig
.vscode
.release
/build.log
**/.flattened-pom.xml
